@import "tailwindcss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body{
  font-family: "Montserrat", sans-serif;
}
.coloredTxt{
  color: #2DA5F3;
  font-weight: bold;
}
.registerPage, .loginPage{
  input:focus{
    outline: none;
  }
}
.logoTxt{
  font-family: "Rubik Glitch", system-ui !important;
}
.customer-table th, td{
  padding: 15px 0;
}
.customer-table tr{
  border-bottom: 1px solid #E6E9F4;
}
.productTbody:hover .dAndE{
  opacity: 1;
  transition: 0.3s ease-in-out;
}
.categoryText:hover .categoryCaret{
  opacity: 1;
}
.rotateCaret{
  transform: rotate(180deg);
  transition: transform 0.2s linear;
}

.skeleton-loader > div {
  background: linear-gradient(90deg, #232323 25%, #464646 50%, #232323 75%);
  background-size: 400% 100%;
  animation: shimmer 1.2s infinite;
  border-radius: 4px;
  margin-bottom: 8px;
}

.image {
  height: 250px;
}

.title {
  height: 18px;
  width: 75%;
}
@keyframes shimmer {
  0% { background-position: -400px 0; }
  100% { background-position: 400px 0; }
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #C9CFD2;
  outline: none;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  background-color: #fff;
}


input[type="radio"]:checked {
  border-color: #FA8232;
}

input[type="radio"]:checked::after {
  content: '';
  position: absolute;
  top: 51%;
  left: 51%;
  width: 10px;
  height: 10px;
  background-color: #FA8232;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

input[type="radio"] + label {
  font-size: 16px;
  color: #333;
  cursor: pointer;
  padding: 5px 10px;
}

input[type="radio"]:hover::after {
  width: 30px;
  height: 30px;
  content: '';
  position: absolute;
  top: 51%;
  left: 51%;
  background-color: #fa823271;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}


.swiper {
  width: 100%;
  height: auto;
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}